<a href="https://colab.research.google.com/github/KikiopeShodipe/Introduction-to-Pandas/blob/main/Introduction_to_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importing libary
import pandas as pd

# Create the data frame#
* A dataframe is a table to display data

In [4]:
data={
    'Name':['Tom','Nick','Krish','Jack'],
    'Age':[20,21,19,18],
    'Score':[20,50,23,78]
}
#create a dataframe
df=pd.DataFrame(data)
#display the dataframe or print(df)
df

    Name  Age  Score
0    Tom   20     20
1   Nick   21     50
2  Krish   19     23
3   Jack   18     78

# Display a few columns in the data
*Display the first part of data using pandas.

In [ ]:
df.head()

#Crech for null values
* Null values are empty values in the data.

In [5]:
df.isnull().sum()

Name     0
Age      0
Score    0
dtype: int64

## Findings
* There are no null values in the dataframe

#Dataframe structure
* To understand the structure of the dataframe in terms of columns and rows and their data types

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

##Findings
* The dataframe has 4 entries with 3 columns.
* We have 2 numerical columns and 1 descriptive column(string)